// Make page header alignment consistent with widget page header alignment

html, h1, h2, h3, a, p {
  font-family: Calibri, 'Trebuchet MS', sans-serif
}

.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

$font-size: 100px;

.navbar-brand {
  font-size: 100%;
  height: 100%;
}

.navbar{
  font-size: 100%;
  height: 100%;
}

.powered-by {
  display: none;
}

.powered-by.copyright-license-text {
  display: block;
}
